/* NAVBAR */
.navbar {
    background-color: var(--neutral-light);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 0.5rem 0;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1030;
}

.navbar-brand {
    font-weight: 700;
    color: #055468 !important;
    font-size: 1.4rem;
    transition: transform 0.3s ease;
}

.navbar-brand:hover {
    transform: scale(1.03);
}

.navbar-brand img {
    height: 60px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.nav-link {
    color: #065371;
    font-weight: 500;
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color);
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1rem;
    width: 0;
    height: 2px;
    background-color: rgb(95 177 93);
    transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: calc(100% - 2rem);
}

.nav-link:hover,
.nav-link.active {
    color: rgb(95 177 93);
}

/* Responsivo */
@media (max-width: 768px) {
    .navbar-brand img {
        height: 30px;
    }
    
    .navbar-collapse {
        padding: 1rem 0;
    }
}
